
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

RewriteEngine On
Redirect 301 /buy https://parent.safe.vision/purchase/signin
Redirect 301 /try https://parent.safe.vision/try
Redirect 301 /forget /forgot
Redirect 301 /iforgot /forgot
